:ruby

  defaults = {
    tag: :a,
    style_obj: { text_decoration: 'none' },
    attrs: { border: 0,
             href:   options.delete(:href) }
  }

= component :text,
            options: merge(defaults, options)