:ruby
  defaults = {
    style_obj: {}.tap { |style_obj|
      style_obj[:width]     = "#{options[:px_width]}px"  if options[:px_width]
      style_obj[:height]    = options[:px_height] ? "#{options[:px_height]}px" : 'auto'
    },
    attrs: {}.tap { |attrs|
      attrs[:width]  = options.delete :px_width  if options[:px_width]
      attrs[:height] = options.delete :px_height if options[:px_height]

      attrs[:src] =
        if options[:url]
          custom_image_url options.delete(:url)
        elsif options[:src]
          options.delete(:src)
        end
    }
  }

= component :element,
            tag: :img,
            options: merge(defaults, options)