:ruby
  defaults = {
    tag: :div,
    style_obj: {}.tap { |style_obj|
      style_obj[:height] = options[:px_height] ? "#{options[:px_height]}px" : 'auto'
      style_obj[:width] = options[:px_width] ? "#{options[:px_width]}px" : 'auto'
    },
    attrs: {}.tap { |attrs|
      attrs[:height] = options.delete :px_height if options[:px_height]
      attrs[:width] = options.delete :px_width if options[:px_width]
    }
  }


= component :element,
            options:   merge(defaults, options)