:ruby
  defaults = {
    style_obj: {  color:       '#3c3c3c',
                  font_size:   '14px',
                  line_height: '1.5' },
    attrs:     {}
  }

= component :text,
            options: merge(defaults, options)