<!DOCTYPE html>
<html>
<head>
  <title>Новая акция</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="keywords" name="keywords">
  <meta content="description" name="description">
  <meta content="ru" http-equiv="content-language">
  <meta content="ru" name="language">
</head>

<body bgcolor="#DA107E" style="background-color:#da107e">
  <table border="0" cellpadding="0" cellspacing="0" style=
  "background-color: #da107e; margin: 0 auto" width="700">
    <tr>
      <td valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto"
        width="600">
          <tr>
            <td style="padding:55px 0 17px" valign="top">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td style=
                  "color:#ffffff;font-family:'Tahoma',Verdana,Arial,sans-serif;font-size:40px;line-height:35px;font-weight:700"
                  valign="top">
                    <a href="http://buzzaar.eu/ru"><img alt="Buzzaar" border=
                    "0" height="36" src=
                    "http://buzzaar.eu/images/chicco/buzzaar.png" style=
                    "vertical-align:top" width="192"></a>
                  </td>

                  <td style=
                  "font-family:'Tahoma',Verdana,Arial,sans-serif;font-size:18px;line-height:22px;text-align:right;color:#ffffff;vertical-align:bottom"
                  valign="bottom">Новая акция</td>
                </tr>
              </table>
            </td>
          </tr>


          <tr>
            <td style="padding:0" valign="top">
              <%= yield %>
            </td>
          </tr>


          <tr>
            <td style=
            "padding:20px 0 10px 0;color:#ffffff;font-family:'Tahoma',Verdana,Arial,sans-serif;font-size:12px;line-height:14px"
            valign="top">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td style="width:40%;padding: 0 0 10px 4px" valign=
                    "bottom">
                      <strong>&copy; Buzzaar, LLC</strong><br>
                      <a href="http://www.buzzaar.eu" style=
                      "color:#ffffff;text-decoration:none">www.buzzaar.eu</a>
                    </td>

                    <td style="width:20%;text-align:center;padding:5px 0 0 0"
                    valign="top"><img alt="" src=
                    "http://buzzaar.eu/images/chicco/image_02.png" style=
                    "vertical-align:middle" width="62">
                    </td>

                    <td style=
                    "width:40%;text-align:right;padding: 0 0 3px 0;font-size:11px"
                    valign="bottom">
                      <strong style="font-size:14px">Есть вопросы?</strong><br>
                      Варвара поможет <a href="mailto:varvara@buzzaar.eu"
                      style="color:#ffffff;">varvara@buzzaar.eu</a><br>
                      <span style="display:block;padding:5px 0 0 0"><a href="#"
                      style="color:#ffffff;font-size:9px">Отписаться от
                      рассылки</a></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>


    <tr>
      <td style=
      "padding:25px 0;color:#ffffff;font-family:'Tahoma',Verdana,Arial,sans-serif;font-size:12px;line-height:14px;text-align:center">
      Вы получили это письмо, потому что зарегистрированы на нашем сайте
      buzzaar.eu</td>
    </tr>
  </table>
</body>
</html>