<!DOCTYPE html>
<html style='margin: 0;padding: 0;'>
  <head>
    <title>Регистрация (крупная картинка)</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    
  </head>
  <body style='margin: 0;padding: 0;'>
    <script id='liquid_body' type='text/liquid'>
      <style>
        @media (max-width: 500px) {
          #topcell {
            padding-right: 20px !important;
          }
          #maincell {
            padding-left:  20px !important;
            padding-right: 20px !important;
          }
        }
        @media (min-width: 501px) {
          #topcell {
            padding-right: 58px !important;
          }
          #maincell {
            padding-left:  58px !important;
            padding-right: 58px !important;
          }
        }
      </style>
      <div style="width: 579px;max-width: 100%;"><table style="width: 100%;" cellpadding="0" cellspacing="0" border="0">{% if top_image.mode == 'static_big' %}
      <tr>
        <td style="vertical-align: middle;text-align: center;padding-right: 30px;" id="topcell"><img style="height: auto;width: auto;max-width: 100%;display: block;" src="{{ top_image.url }}" alt="{{ top_image.text[language] }}"></img>
        </td>
      </tr>
      {% endif %}
      <tr>
        <td style="vertical-align: middle;text-align: left;padding-top: 54px;padding-left: 0;padding-right: 0;" id="maincell">{% if top_image.mode == 'dynamic' %}
        <img style="width: 130px;height: auto;max-width: 100%;border: 5px solid #E8E8E8;border-radius: 50%;margin-bottom: 27px;" width="130" src="{{ top_image.url }}" alt="{{ top_image.text[language] }}"></img>
        {% elsif top_image.mode == 'static_small' %}
        <img style="height: auto;width: {{ top_image.width }}px;max-width: 100%;margin-bottom: 27px;" src="{{ top_image.url }}" width="{{ top_image.width }}" alt="{{ top_image.text[language] }}"></img>
        {% endif %}
        <h1 style="font-family: Tahoma, sans-serif;color: #3c3c3c;font-size: 45px;line-height: 1.1;margin: 0;padding: 0;margin-bottom: 20px;font-weight: normal;">{{ subject.text[language] }}</h1>
        {% for block in blocks %}
        <p style="font-family: Tahoma, sans-serif;color: #3c3c3c;font-size: 14px;line-height: 1.5;margin: 0;padding: 0;margin-bottom: 15px;">{{ block.text[language] }}</p>
        {% if block.image.url %}
        <img style="width: {{ block.image.width }}px;height: auto;max-width: 100%;margin-bottom: 35px;" width="{{ block.image.width }}" src="{{ block.image.url }}" alt="{{ block.image.text[language] }}"></img>
        {% endif %}
        {% endfor %}
        {% if link.text and link.url %}
        <p style='margin-bottom: 50px;'>
          <a style="font-family: Tahoma, sans-serif;color: #3c3c3c;font-size: 24.88px;line-height: 1.1;margin: 0;padding: 0;text-decoration: underline;" border="0" href="{{ link.url }}">{{ link.text[language] }} →</a>
        </p>
        {% endif %}
        <p style='margin-bottom: 25px;'>
          <a style="font-family: Tahoma, sans-serif;color: black;font-size: 12px;line-height: 1.1;margin: 0;padding: 0;text-decoration: none;" border="0" href="http://hell-o-baby.com"><img style="width: 90px;height: auto;max-width: 100%;" width="90" src="http://hello-baby.github.io/hb_newsletters_middleman/__assets/images/logo2.png"></img>
          </a>
        </p>
        <p style='margin-bottom: 22px;line-height: 10px;'>
          <span style="font-family: Tahoma, sans-serif;color: #3c3c3c;font-size: 11px;line-height: 1.5;margin: 0;padding: 0;">©
          <strong>Hello Baby LTD</strong>
          </span>
          <br>
          <a style="font-family: Tahoma, sans-serif;color: #3c3c3c;font-size: 11px;line-height: 1.1;margin: 0;padding: 0;text-decoration: none;" border="0" href="http://hell-o-baby.com">hell-o-baby.com</a>
        </p>
        <p>
          <a style="font-family: Tahoma, sans-serif;color: black;font-size: 12px;line-height: 1.1;margin: 0;padding: 0;text-decoration: none;" border="0" href="https://www.facebook.com/hellobabyalbum"><img style="width: 70px;height: auto;max-width: 100%;" width="70" src="http://hello-baby.github.io/hb_newsletters_middleman/__assets/images/facebook.png"></img>
          </a>
        </p>
        </td>
      </tr>
      </table>
      </div>
    </script>
    <script src="../__assets/javascripts/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="../__assets/javascripts/liquid.js/dist/liquid.min.js" type="text/javascript"></script>
    <script>
      (function() {
        var result;
      
        result = Liquid.parse($('#liquid_body')[0].innerHTML).render({
          "language": "en",
          "subject": {
            "text": {
              "en": "Hi there!"
            }
          },
          "top_image": {
            "url": "http://hello-baby.github.io/hb_newsletters_middleman/__assets/images/welcome_to_hello_baby.png",
            "width": 520,
            "mode": "static_big",
            "text": {
              "en": "Top image alt text"
            }
          },
          "blocks": [
            {
              "text": {
                "en": "Welcome to the best place to keep baby’s big moments! Add content, use key moments and never lose baby impressions! Use our appor web album."
              },
              "image": {
                "url": "http://hello-baby.github.io/hb_newsletters_middleman/__assets/images/post_types.png",
                "width": 220,
                "text": {
                  "en": "asdf"
                }
              }
            }, {
              "text": {
                "en": "Use specialized services: Measurements, Video stories, Stickers, Postcards, Daily snapshot and Printed albums. Enjoy your parenthood!"
              },
              "image": {
                "url": "http://hello-baby.github.io/hb_newsletters_middleman/__assets/images/services.png",
                "width": 559,
                "text": {
                  "en": "asdf"
                }
              }
            }
          ],
          "link": {
            "text": {
              "en": "Get welcome postcard"
            },
            "url": "http://hell-o-baby.com/foo?bar=baz"
          }
        });
      
        $('body').append($(result));
      
      }).call(this);
    </script>
  </body>
</html>
