;;;
"name":             "Приглашение существующего пользователя (аватар)",
"group":            "Шаблон бэкенда"
;;;

= component 'pages/template_1_liquid',
  content: { texts: {  title: 'New baby.',
                       link:  'Baby album',
                       blocks: [ 'Margarita has invited you to be Maximilian‘s father on Hell’o Baby. Now you can add new memories of baby together!' ]},
             images: { avatar: { url:   custom_image_url('baby_avatar.jpg') }},
             link_url: 'http://hell-o-baby.com/foo?bar=baz' }

