;;;
"name":             "Бэдж за три заметки (маленькая картинка, без ссылки)",
"group":            "Шаблон бэкенда"
;;;

= component 'pages/template_1_liquid',
  content: { texts: {  title: 'New badge for Harrison!',
                       blocks: [ "Maximilian made more than 3 text notes.<br>So, there is a new badge – Energizer!<br><br>" ]},
             images: { header: { url:   custom_image_url('badge_three_notes.png'), 
                                 width: image_width('badge_three_notes.png') / 2 }}}
             
