;;;
"name":             "Русский",
"group":            "Письмо про апдейт"
;;;

= component 'pages/template_1_static_update',
  content: { hero_image_url:   custom_image_url('welcome_to_hello_baby.png'),
             hero_image_width: image_width('welcome_to_hello_baby.png') / 2,
             title_text:       'Привет!',
             main_text:        'Пока ваш малыш не вырос, мы подготовили большое обновление нашего приложения для iPhone и сайта, чтобы сохранить лучшие моменты его первых лет!',
             link_text:        'Альбом вашего малыша',
             link_url:         'http://hell-o-baby.com',
             blocks: [ { image_url:   custom_image_url('stickers.png'),
                         image_width: image_width('stickers.png') / 2,
                         text:        'Стикеры. Добавьте потрясающие стикеры к вашим фото и сделайте их еще лучше! Выбирайте из более чем 250 стикеров, многие из которых доступны бесплатно.'},
                       { image_url:   custom_image_url('measurements.png'),
                         image_width: image_width('measurements.png') / 2,
                         text:        'Измерения. Мы улучшили алгоритмы добавления и подсчета измерений, добавили возможность их редактирования и повысили надежность хранения. Теперь измерения вашего малыша всегда под рукой!'},
                       { image_url:   custom_image_url('postcards.png'),
                         image_width: image_width('postcards.png') / 2,
                         text:        'Открытки. Получайте прекрасные анимированные открытки с участием своего малыша и делаитесь ими с родственниками!'},
                       { image_url:   custom_image_url('video_stories.png'),
                         image_width: image_width('video_stories.png') / 2,
                         text:        'Видеоистории. Раньше можно было просто добавлять любой контент малыша. Теперь он распределяется и хранится так, чтобы в будущем, когда малыш подрастет, автоматически подготовить персональную видеоисторию вашего малыша!'}]}
